@page "/"
@using blazor.Share
@using blazor.Models
@inject EventService EventService

<PageTitle>Event Card Component</PageTitle>

<h3>Eventos guardados</h3>

@if (!EventService.GetEvents().Any())
{
    <p>No hay eventos aún.</p>
}
else
{
    @foreach (var card in EventService.GetEvents())
    {
        <CardComponent card="card" />
        <hr />
    }
}    
